.nft-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000; /* Карточка на переднем плане */
}

.nft {
  perspective: 1000px;
  max-width: 300px;
  margin: 5rem auto;
  user-select: none;
  transition: transform 0.6s;
}

.card {
  /*width: 100%;*/
  height: 60vh; /* Убедитесь, что высота фиксирована */
  width: 40vh; /* Убедитесь, что высота фиксирована */
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 0.7rem;
  box-shadow: 0 7px 20px 5px #00000088;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.7rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.card-front {
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}
.card-back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: #ff9a00;
    transform: rotateY(180deg);
    border-radius: 0.7rem;
    overflow: hidden;
}

.item-name {
  padding-bottom: 20px;
  padding-top: 10px;
    text-align: center;
    margin-bottom: 1rem;
    color: #0f0059;
    font-size: 1.5rem;
}
.back-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    color: #0f0059;
}

.item-info {
    display: flex;
    justify-content: space-between;
    margin: 0.3rem 0;
}

.item-info span:first-child {
    text-align: left;
    flex-grow: 1;
}

.item-info span.item-value {
    text-align: right;
    min-width: 60px; /* Опционально: можно установить минимальную ширину для выравнивания */
}


.back-content p {
    margin: 0.3rem 0;
}

.nft.flipped .card {
  transform: rotateY(180deg);
}

.tokenImage {
  border-radius: 0.5rem;
  max-width: 100%;
  height: 250px;
  object-fit: contain; /* Вписываем изображение в контейнер, сохраняя пропорции */
  background-color: transparent; /* Убедитесь, что фон прозрачный */
  padding: 0; /* Убираем лишние отступы */
  margin: 0; /* Убираем внешние отступы */
  box-shadow: none; /* Убираем тени, если есть */
}

.description, .price, .duration {
  color: #ffffff;
  margin: 0.5rem 0;
}

.tokenInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/*.sell-button, .close-button {*/
/*  margin-top: 10px;*/
/*  padding: 10px 20px;*/
/*  font-size: 1em;*/
/*  color: #fff;*/
/*  background-color: #0072ff;*/
/*  border: none;*/
/*  border-radius: 5px;*/
/*  cursor: pointer;*/
/*  transition: background-color 0.3s;*/
/*}*/
/*.sell-button {*/
/*    color: #000000;*/
/*  background-color: #c61000;*/
/*}*/
/*.sell-button:hover {*/
/*  background-color: #fbfbfb;*/
/*}*/

/*.creator, .back-content {*/
/*  text-align: center;*/
/*  color: #0f0059;*/
/*}*/
/*.h2{*/
/*  color: #4d26ff;*/
/*}*/

/*.back-content p {*/
/*  margin: 0.3rem 0;*/
/*}*/
.button-container {
  display: flex;
  justify-content: space-between; /* Располагает кнопки по краям контейнера */
  width: 100%;
  margin-top: 10px;
}

.sell-button, .close-button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #0072ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sell-button {
  color: #000000;
  background-color: #c61000;
}

.sell-button:hover {
  background-color: #fbfbfb;
}