.preload {
    background-image: url('images/fon_ruins_left.png'), url('images/fon_ruins_right.png'), url('images/fon_ruins.webp') ;
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
}

.screen.ruins {
    background: url('images/fon_ruins.webp') no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.large-button {
    position: relative;
    box-sizing: border-box;
    width: 200px;

    height: 200px;
    /*border: 20px solid #010204;*/
    cursor: pointer;

    text-align: center;
    overflow: hidden;
    border-radius: 50%;
    /*background-color: transparent;*/
    background-color: #ff8800;
    z-index: 20;
    transform-origin: center;
    display: flex;

    justify-content: center;
    align-items: center;
    /*animation: pulseEffect 1s ease forwards;*/

}

.large-button.split .top-half {
    animation: splitTop 0.5s forwards;
}

.large-button.split .bottom-half {
    animation: splitBottom 0.5s forwards;
}

.large-button.split {
    animation: explode 0.5s forwards;
}

/* Добавляем пустоту */
.hollow-effect {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: -1;
    animation: hollowExpand 1s forwards;
}

/* Анимация расширения пустоты */
@keyframes hollowExpand {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

/* Анимация увеличения кнопки */
@keyframes explode {
    0% {
        opacity: 1;
        transform: scale(1);
        /*border: 200px solid #010204;*/

    }
    100% {
        opacity: 0;
        transform: scale(3.5);
        /*border: 200px solid #010204;*/

    }
}

@keyframes splitTop {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100px);
    }
}

@keyframes splitBottom {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100px);
    }
}

.top-half, .bottom-half {
    position: absolute;
    width: 100%;
    font-size: 30px;
    height: 50%;
    background-color: #000;
    text-align: center;
    color: #FFFFFF;
}

.top-half {
    top: 0;
    text-align: center;
}

.bottom-half {
    bottom: 0;
}

.fragment {
    position: absolute;
    background-image: url('images/dogs_ico.png');
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0;
    z-index: 1500;
    animation: fall 3s ease-out forwards;
}

.large-button.split .fragment {
    opacity: 1;
    animation-delay: 0.5s;
}

@keyframes fall {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 1;
    }
}

.door-button {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    background-size: cover;
    background-position: center;
    z-index: 133333;
    transition: transform 1s;
}

.left-button {
    left: 0;
    background-image: url('images/fon_ruins_left.png');
}

.right-button {
    right: 0;
    background-image: url('images/fon_ruins_right.png');
}

.screen.active .left-button {
    animation: slideLeft 1s forwards;
    animation-delay: 0.05s;
}

.screen.active .right-button {
    animation: slideRight 1s forwards;
    animation-delay: 0.05s;
}

.screen.closing .left-button {
    animation: slideLeftBack 1s forwards;
}

.screen.closing .right-button {
    animation: slideRightBack 1s forwards;
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes slideLeftBack {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideRightBack {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

#back-buttonr {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #0072ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 111;
}
